/* Fonts */

/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css?family=Cutive%20Mono");

/*noinspection CssUnknownTarget*/
@import url("https://fonts.googleapis.com/css?family=Press%20Start%202P");

:root {
    --min-page-width: 350px;
}

body {
    position: sticky;
    font-family: "Cutive Mono", sans-serif;
    color: white;
    min-width: var(--min-page-width);
}

.button {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 1px solid white;
    transition: background 0.4s ease, color 0.4s ease;
    border-radius: 5px;
    user-select: none;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    color: black;
    background: white;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* ================
 * HEADER STYLING
 * ================ */

.header {
    position: sticky;
    top: 0;
    z-index: 2;
    background: #2a2b2e;
    padding: 12px;
    font-size: max(0.7em, min(3vw, 1em));
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .login-register-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.header .logout-button {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .accessibility {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: fit-content;
}

.header .accessibility > span {
    font-size: min(3.5vw, 1.2em);
    margin: 0 10px;
    font-weight: bold;
}

/* ================
 * FORM STYLING
 * ================ */

form input, select, textarea {
    padding: 10px;
    font-size: 1.2em;
    font-family: sans-serif;
    background: transparent;
    color: white;
    border: none;
    border-bottom: 1px solid white;
    min-width: 0;
}

form input::placeholder, textarea::placeholder {
    opacity: 1; /*Firefox*/
}

form input:focus, textarea:focus {
    outline: none;
}

form input {
    border-bottom: 1px solid white;
}

form select > option {
    background: black;
}

form input[type=submit] {
    border: 1px solid white;
    cursor: pointer;
    grid-column-start: 2;
    grid-column-end: 3;
    transition: background 0.4s ease, color 0.4s ease;
    border-radius: 5px;
}

form input[type=submit]:hover {
    color: black;
    background: white;
}

form textarea {
    grid-column-start: 1;
    grid-column-end: 3;
    border: 1px solid white;
    border-radius: 5px;
}

form textarea.v-resizable {
    resize: vertical;
}

.hidden {
    display: none !important;
}