@import "reset.css";
@import "common.css";
body {
  background: #151517;
  min-height: 100.1vh;
}

.header {
  justify-content: space-between;
}
.header .home-button {
  font-family: "Press Start 2P", sans-serif;
  font-size: clamp(1.25rem, 3vw, 2rem);
  padding: 4px;
}
.header .accessibility {
  display: none;
}

.heading {
  position: relative;
  z-index: -2;
  padding: 20px min(2vw, 20px);
  display: grid;
  grid-template-rows: auto 0;
  gap: 15px;
}
.heading > .background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  filter: brightness(50%) blur(16px);
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.heading > .title {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.heading > .title > .left-side {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  max-width: 500px;
  flex: 1 1 500px;
}
.heading > .title > .left-side > img {
  width: 100%;
  height: 100%;
  padding: 10px;
  min-height: 250px;
  object-fit: cover;
  grid-column: 1/3;
}
.heading > .title > .left-side > .info-text {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1/3;
  font-size: clamp(2rem, 10vw, 2.5rem);
}
.heading > .title > .left-side > .button {
  margin: 10px;
  font-size: 1.5em;
}
.heading > .title > .left-side > .price {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: bold;
}
.heading > .title > .info {
  font-size: clamp(0.7em, 3vw, 1em);
  display: grid;
  padding: 20px min(20px, 0.5vw);
  grid-template-rows: 0.5fr 0.5fr 1fr;
  flex: 1 1 min(300px, 100%);
  text-shadow: #000000 8px 8px 10px;
}
.heading > .title > .info .title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Press Start 2P", sans-serif;
}
.heading > .title > .info .genre {
  color: #ccc;
  font-size: 1.5em;
  margin-bottom: 20px;
}

.content-switch-buttons-section {
  background: #1a1b1e;
  padding: 25px min(5vw, 10px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-switch-buttons-section > .content-switch-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 0;
  width: clamp(300px, 95%, 500px);
  column-gap: 20px;
}
.content-switch-buttons-section > .content-switch-buttons > .button {
  border: none;
  font-size: 1.8em;
}
.content-switch-buttons-section > .content-switch-buttons > .button.enabled:hover {
  background: unset;
  color: unset;
  cursor: unset;
}
.content-switch-buttons-section > .content-switch-buttons .button-bottom-border-wrapper {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: center;
}
.content-switch-buttons-section > .content-switch-buttons .button-bottom-border-wrapper .button-bottom-border {
  background: #ffffff;
  height: 3px;
  border-radius: 8px;
  width: calc(50% - 20px / 2);
  transition: transform 0.5s ease-in-out;
}
.content-switch-buttons-section > .content-switch-buttons .button-bottom-border-wrapper .button-bottom-border.start {
  transform: translateX(calc(-50% - 20px / 2));
}
.content-switch-buttons-section > .content-switch-buttons .button-bottom-border-wrapper .button-bottom-border.end {
  transform: translateX(calc(50% + 20px / 2));
}

.content-wrapper {
  overflow-x: hidden;
}
.content-wrapper .content.info {
  transform: translateX(0);
}
.content-wrapper .content.reviews {
  transform: translateX(-50%);
}

.content-wrapper .content {
  background: #151517;
  width: 200%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: transform 1s ease-in-out;
  --horizontal-padding: min(1vw, 20px);
}
.content-wrapper .content > * {
  padding: 12px var(--horizontal-padding);
}
.content-wrapper .content .info {
  display: flex;
  flex-wrap: wrap;
}
.content-wrapper .content .info > * {
  flex: 1 1 50%;
  padding: 12px var(--horizontal-padding);
  min-width: var(--min-page-width);
}
.content-wrapper .content .info .long-description > *, .content-wrapper .content .info .other-info > * {
  padding: 12px var(--horizontal-padding);
}
.content-wrapper .content .info .long-description .title, .content-wrapper .content .info .other-info .title {
  font-size: 1.6em;
  font-weight: bold;
}
.content-wrapper .content .info .other-info > div {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: fit-content;
}
.content-wrapper .content .info .other-info > div:first-of-type {
  padding-bottom: 50px;
}
.content-wrapper .content .info .other-info .pill {
  background: #3f3f42;
  width: fit-content;
  padding: 6px 12px;
  border-radius: 30px;
  font-size: clamp(0.9em, 1.5vw, 1em);
}
.content-wrapper .content .reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.content-wrapper .content .reviews .review-editor {
  width: min(95vw, 700px);
}
.content-wrapper .content .reviews .review-editor form {
  display: grid;
  grid-template-columns: auto 200px;
  grid-template-rows: auto 50px;
  grid-row-gap: 10px;
}
.content-wrapper .content .reviews .review-editor form textarea {
  grid-column-start: 1;
  grid-column-end: 3;
  height: 200px;
  min-height: 100px;
  max-height: 400px;
}
.content-wrapper .content .reviews .review-editor form input[type=submit] {
  grid-column-start: 2;
  grid-column-end: 3;
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(95%, 600px);
  gap: 20px;
}
.review-container .review {
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 12px;
  width: 100%;
}
.review-container .review .top {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.2em;
}
.review-container .review .comment {
  display: block;
}
.review-container .review .comment__edit {
  height: 1.15em;
  cursor: pointer;
}
.review-container .review .comment__delete {
  height: 1.15em;
  cursor: pointer;
}

.edit-popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #000000bb;
}

.edit-popup {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-rows: 1fr auto;
  width: min(95%, 500px);
  height: clamp(250px, 60vh, 600px);
  background: #363636;
  border-radius: 20px;
}

.edit-popup textarea {
  grid-column: 1/3;
}

/*# sourceMappingURL=game-listing.css.map */
