@import "reset.css";
@import "common.css";

body {
  background: #151517;
  min-height: 100.1vh; // super dirty but keeps the scrollbar on the page
}

.header {
  justify-content: space-between;

  .home-button {
    font-family: "Press Start 2P", sans-serif;
    font-size: clamp(1.25rem, 3vw, 2rem);
    padding: 4px;
  }

  .accessibility {
    display: none;
  }
}

.heading {
  position: relative;
  z-index: -2;
  //height: 400px; // temporary
  padding: 20px min(2vw, 20px);
  display: grid;
  grid-template-rows: auto 0;
  gap: 15px;

  & > .background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    filter: brightness(50%) blur(16px);
    z-index: -1;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  & > .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    & > .left-side {
      display: grid;
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 1fr;
      max-width: 500px;
      flex: 1 1 500px;

      & > img {
        width: 100%;
        height: 100%;
        padding: 10px;
        min-height: 250px;
        object-fit: cover;
        grid-column: 1 / 3;
      }

      & > .info-text {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1 / 3;
        font-size: clamp(2rem, 10vw, 2.5rem);
      }

      & > .button {
        margin: 10px;
        font-size: 1.5em;
      }

      & > .price {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3rem;
        font-weight: bold;
      }
    }

    & > .info {
      font-size: clamp(0.7em, 3vw, 1em);
      display: grid;
      padding: 20px min(20px, 0.5vw);
      grid-template-rows: 0.5fr 0.5fr 1fr;
      flex: 1 1 min(300px, 100%);
      text-shadow: #000000 8px 8px 10px;

      .title {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 15px;
        font-family: "Press Start 2P", sans-serif;
      }

      .genre {
        color: #ccc;
        font-size: 1.5em;
        margin-bottom: 20px;
      }
    }
  }
}

.content-switch-buttons-section {
  background: #1a1b1e;
  padding: 25px min(5vw, 10px);
  display: flex;
  justify-content: center;
  align-items: center;

  & > .content-switch-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0;
    width: clamp(300px, 95%, 500px);
    $gap: 20px;
    column-gap: $gap;

    & > .button {
      border: none;
      font-size: 1.8em;
    }

    & > .button.enabled:hover {
      background: unset;
      color: unset;
      cursor: unset;
    }

    .button-bottom-border-wrapper {
      grid-column-start: 1;
      grid-column-end: 3;
      display: flex;
      justify-content: center;

      .button-bottom-border {
        background: #ffffff;
        height: 3px;
        border-radius: 8px;
        width: calc(50% - #{$gap} / 2);
        transition: transform 0.5s ease-in-out;
      }

      .button-bottom-border.start {
        transform: translateX(calc(-50% - #{$gap} / 2));
      }

      .button-bottom-border.end {
        transform: translateX(calc(50% + #{$gap} / 2));
      }
    }
  }
}

.content-wrapper {
  overflow-x: hidden;

  .content.info {
    transform: translateX(0);
  }

  .content.reviews {
    transform: translateX(-50%);
  }
}

.content-wrapper .content {
  background: #151517;
  width: 200%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: transform 1s ease-in-out;
  --horizontal-padding: min(1vw, 20px);

  & > * {
    padding: 12px var(--horizontal-padding);
  }

  .info {
    display: flex;
    flex-wrap: wrap;

    & > * {
      flex: 1 1 50%;
      padding: 12px var(--horizontal-padding);
      min-width: var(--min-page-width);
    }

    .long-description, .other-info {
      & > * {
        padding: 12px var(--horizontal-padding);
      }
      .title {
        font-size: 1.6em;
        font-weight: bold;
      }
    }

    .other-info > div {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      width: fit-content;
    }

    .other-info > div:first-of-type {
      padding-bottom: 50px;
    }

    .other-info .pill {
      background: #3f3f42;
      width: fit-content;
      padding: 6px 12px;
      border-radius: 30px;
      font-size: clamp(0.9em, 1.5vw, 1em);
    }
  }

  .reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .review-editor {
      width: min(95vw, 700px);
    }

    .review-editor form {
      display: grid;
      grid-template-columns: auto 200px;
      grid-template-rows: auto 50px;
      grid-row-gap: 10px;

      textarea {
        grid-column-start: 1;
        grid-column-end: 3;

        height: 200px;
        min-height: 100px;
        max-height: 400px;
      }

      input[type=submit] {
        grid-column-start: 2;
        grid-column-end: 3;
      }
    }
  }
}

.review-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(95%, 600px);
  gap: 20px;

  .review {
    border: 1px solid #ffffff;
    border-radius: 5px;
    padding: 12px;
    width: 100%;

    .top {
      display: block;
      margin-bottom: 10px;
      font-weight: bold;
      font-size: 1.2em;
    }

    .comment {
      display: block;
    }

    .comment__edit {
      height: 1.15em;
      cursor: pointer;
    }

    .comment__delete {
      height: 1.15em;
      cursor: pointer;
    }
  }
}

.edit-popup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  width: 100%;
  height: 100%;

  background: #000000bb;
}

.edit-popup {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-template-rows: 1fr auto;

  width: min(95%, 500px);
  // temp
  height: clamp(250px, 60vh, 600px);

  background: rgb(54, 54, 54);
  border-radius: 20px;
}

.edit-popup textarea {
  grid-column: 1 / 3;
}