@import "reset.css";
@import "common.css";

body {
    position: relative;
    height: 100vh;
    background: linear-gradient(#000, #111);

    color: white;
    font-family: 'Cutive Mono', sans-serif;
    font-size: 1.1em;
}

#title {
    font-family: "Press Start 2P", sans-serif;
    font-size: 3rem;
    padding: 2rem;

    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

#content {
    height: 100%;
    font-size: 1.4rem;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message {
    margin-bottom: 1.5rem;
}

#back-btn {
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border: 1px solid white;
    transition: background 0.4s ease, color 0.4s ease;
    border-radius: 5px;
    user-select: none;
    text-transform: uppercase;
}

#back-btn:hover {
    color: black;
    background: white;
}